.footer {
    font-size: 15px;
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(49, 44, 44);
    color: aliceblue;
    height: 350px;
    align-items: center;
}

.first-column {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 100px;
}

.middle-column p {
    margin: 4px 0px;
    font-size: 15px;
}

.style {
    margin-left: 4px;
}

.color {
    color: rgb(226, 54, 54);
}

.color2 {
    color: rgb(226, 54, 54);
    font-size: 20px;
    margin-right: 5px;
}

.copyright {

    text-align: center;

}